body{
    background: #868481;
    font-family: 'Inter';
    font-style: normal;
}
h1{
    font-weight: 400;
    font-size: 64px;
    margin-top: 180px;
    padding-right: 40px;
    line-height: 77px;
    text-align: center;
    color: #FFFFFF;
}
#nlabel{
    display: block;
    margin-top: 40px;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFDFD;
}
#name{
    display: block;
    width: 315px;
    height: 45px;
    background: #FFFCFC;
    border-radius: 10px;
    margin: auto;
    font-size: 20px;
    text-align: center;
}
#passlabel{
    display: block;
    margin-top: 25px;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFDFD;
}
#password{
    display: block;
    width: 315px;
    height: 45px;
    background: #FFFCFC;
    border-radius: 10px;
    margin: auto;
    font-size: 20px;
    text-align: center;
}
#login{
    text-align: center;
    margin-top: 60px;
    width: 115px;
    height: 58px;
    background: #EDAA28;
    border-radius: 30px;
    font-size: 24px;
    border: none;
    color: #FFFFFF;
}
#login:hover{
    box-shadow: 0 4px 7px 0 rgba(104, 70, 17, 0.5);
    transform: translateY(-3px);
    cursor: pointer;
}
.botton{
    text-align: center;
}
