body{
    font-style: normal;
    font-family: 'Inter';
}

/*header, footer*/
header, footer{
    background-color: #868481;
}

/*header*/
header{
    height: 58px;
    width: 100%;
    display: flex;
    align-items: center;
}
button{
    border: none;
    outline: none;
}
#trigger-box{
    margin-left: 10px;
}
#trigger{
    height: 58px;
    width: 50px;
    background-color: #868481;
}
#right{
    color: #EDAA28;
    font-size: 38px;
}
#user-box{
    margin: 0 20px 0 auto;
}
#user-box span{  
    position: relative;
    bottom: 6px;
    color: white;
    font-size: 18px;
}
#user{
    text-align: right;
    color: white;
    font-size: 30px;
}

/* settings */
#settings{
    margin-top: 200px;
}
#settings-name{
    height: 45px;
    width: 350px;
    color: #868481;
    font-size: 36px;
    margin:0 auto;
    text-align: center;
    text-decoration:underline solid #EDAA28 ;
    text-underline-offset: 0.2em;
}
#changepass{
    text-align: center;
    margin-top: 30px;
    width: 300px;
    height: 58px;
    background: #EDAA28;
    border-radius: 30px;
    font-size: 24px;
    border: none;
    color: #FFFFFF;
}
.button{
    text-align: center;
}

/*sidemenu*/
#sidemenu{
    height: 100%;
    width: 190px;
    background-color: #5A5A5A;
    position: fixed;
    display: flex;
    flex-flow: column;
    top: 0;
    left: -300px;
}
#sidemenu ul{
    list-style: none;
    padding-left: 0;
}
#trigger-close{
    height: 55px;
    width: 50px;
    margin-left: 135px;
    background-color: #5A5A5A;
}
#left{
    color: #EDAA28;
    font-size: 38px;
}
#close-box, #side-item1, #side-item2, #side-item3{
    height: 58px;
}
#side-item1, #side-item2, #side-item3{
    padding-top: 10px;
    text-align: center;
}
#side-item1, #side-item2, #side-item3{
    font-size: 24px;
    color: white;
}
#side-item1, #side-item3{
    background-color: #FFC75B;
}
#side-item2{
    background-color: #EDAA28;
}

footer{
    position: fixed;
    bottom: 0;
    height: 30px;
    width: 100%;
}
footer p{
    text-align: center;
    color: white;
    font-size: 18px;
}