/*body*/
body{
    font-style: normal;
    font-family: 'Inter';
}

/*header, footer*/
header, footer{
    background-color: #868481;
}

/*header*/
header{
    height: 58px;
    width: 100%;
    display: flex;
    align-items: center;
}
button{
    border: none;
    outline: none;
}
#trigger-box{
    margin-left: 10px;
}
#trigger{
    height: 58px;
    width: 50px;
    background-color: #868481;
}
#right{
    color: #EDAA28;
    font-size: 38px;
}
#user-box{
    margin: 0 20px 0 auto;
}
#user-box span{  
    position: relative;
    bottom: 6px;
    color: white;
    font-size: 18px;
}
#user{
    text-align: right;
    color: white;
    font-size: 30px;
}
#button-box{
    display: block;
    text-align: right;
    margin-top: 2%;
    margin-right: 5%;
}

/*new-button*/
#new-button{
    height: 55px;
    width: 125px;
    background-color: #EDAA28;
    border-radius: 60px;
}
#plus{
    color: white;
    font-size: 30px;
    margin-right: 3px;
}
#new{
    position: relative;
    color: white;
    font-size: 24px;
    bottom: 3px;
}

/*modal*/
.required{
    color: #FF4F50;
}

/*container*/
.container{
    margin-top: 3%;
}

/*status*/
.status{
    height: 30px;
    width: 1200px;
    display: flex;
    margin: 0 auto;
}
#status1, #status2, #status3{
    height: 30px;
    width: 350px;
    color: #868481;
    font-size: 28px;
    margin: 0 15px;
    text-align: center;
}

/*box*/
.box{
    height: 600px;
    width: 1200px;
    display: flex;
    margin: 15px auto;
}
#todo, #doing, #done{
    height: 550px;
    width: 350px;
    background-color: #D9D9D9;
    border-radius: 30px;
    margin-bottom: 10px;
    margin: 0 15px;
    padding-top: 5px;
}

/*task*/
div[id^="task-"]{
    border-radius: 15px;
    margin-bottom: 5px;
    padding: 5px;
    background-color: #FF4F50;
    color: white;
    font-size: 16px;
    cursor: grab;
}
.droppable{
    display: flex;
    flex-flow: column;
    margin: 5px auto;
    width: 92%;
    height: 100%;
}

/*sidemenu*/
#sidemenu{
    height: 100%;
    width: 190px;
    background-color: #5A5A5A;
    position: fixed;
    display: flex;
    flex-flow: column;
    top: 0;
    left: -300px;
}
#sidemenu ul{
    list-style: none;
    padding-left: 0;
}
#trigger-close{
    height: 55px;
    width: 50px;
    margin-left: 135px;
    background-color: #5A5A5A;
}
#left{
    color: #EDAA28;
    font-size: 38px;
}
#close-box, #side-item1, #side-item2, #side-item3{
    height: 58px;
}
#side-item1, #side-item2, #side-item3{
    padding-top: 10px;
    text-align: center;
}
#side-item1, #side-item2, #side-item3{
    font-size: 24px;
    color: white;
}
#side-item1, #side-item3{
    background-color: #FFC75B;
}
#side-item2{
    background-color: #EDAA28;
}

/*footer*/
footer{
    position: fixed;
    bottom: 0;
    height: 30px;
    width: 100%;
}
footer p{
    text-align: center;
    color: white;
    font-size: 18px;
}

/*screen*/
@media screen and (max-height: 800px){
    .status{
        height: 24px;
        width: 930px;
        display: flex;
        margin: 0 auto;
    }
    .status1, .status2, .status3{
        height: 24px;
        width: 280px;
        color: #868481;
        font-size: 24px;
        margin: 0 15px;
        text-align: center;
    }
    .box{
        height: 460px;
        width: 930px;
        display: flex;
        margin: 15px auto;
    }
    #box1, #box2, #box3{
        height: 420px;
        width: 280px;
        margin: 5px 15px;
        background-color: #D9D9D9;
        border-radius: 30px;
    }
}
/* @media screen and (max-width: 800px){
    
} */