body{
    font-style: normal;
    font-family: 'Inter';
}
header, footer{
    background-color: #868481;
}
header{
    height: 64px;
}
header p{
    padding-top: 14px;
    padding-right: 10px;
    text-align: right;
    color: white;
    font-weight: 400;
    font-size: 20px;
}
#button-box{
    display: block;
    text-align: right;
    margin-top: 3%;
    margin-right: 8%;
}
button{
    height: 55px;
    width: 125px;
    background-color: #EDAA28;
    border: none;
    outline: none;
    border-radius: 60px;
}
#plus{
    color: white;
    font-size: 30px;
    margin-right: 3px;
}
#new{
    position: relative;
    color: white;
    font-size: 24px;
    bottom: 4px;
}
.container{
    height: 600px;
    width: 1200px;
    display: flex;
    justify-content: space-around;
    margin-top: 75px;
}
.container1, .container2, .container3{
    height: 550px;
    width: 350px;
    background-color: #D9D9D9;
    border-radius: 30px;
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}
footer p{
    text-align: center;
    color: white;
    font-weight: 400;
    font-size: 20px;
}