<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../assets/icon/favicon.ico">
    <link rel="stylesheet" href="../assets/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/node_modules/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <script src="../assets/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../assets/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../assets/node_modules/jquery-ui-dist/jquery-ui.min.js"></script>
    <script src="../assets/js/index.js"></script>
    <title>TaskApp</title>
</head>
<body>
    <header>
        <div id="trigger-box">
            <button type="button" id="trigger"><i class="bi bi-arrow-right-circle" id="right"></i></button>
        </div>
        <div id="user-box">
            <i class="bi bi-person-fill" id="user"></i><span>{{.user_name}}</span>
        </div>
    </header>
    <main>
        <div id="button-box">
            <button type="button" id="new-button" data-bs-toggle="modal" data-bs-target="#taskModal"><i class="bi bi-plus" id="plus"></i><span id="new">new</span></button>
        </div>
        <div class="modal fade" id="taskModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="taskModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="taskModalLabel">Create a new task</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form action="create_a_task" method="POST" id="task_content"></form>
                        <div class="modal-body">
                            <div class="mb-3">
                              <label for="task_name" class="col-form-label">name<span class="required">*</span></label>
                              <input type="text" class="form-control" id="task_name" name="task_name" form="task_content" required>
                            </div>
                            <div class="mb-3 form-group">
                              <label for="task_description" class="col-form-label">description</label>
                              <textarea class="form-control" id="task_description" name="task_description" form="task_content"></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="task_pic" class="col-form-label">person in charge<span class="required">*</span></label>
                                <select class="form-select" aria-label="select pic" name="task_pic" form="task_content">
                                    <option selected>{{ .user_name }}</option>
                                    {{ range $candidate := .user_list }}
                                        <option value="{{ $candidate }}">{{ $candidate }}</option>
                                    {{ end }}
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="task_deadline" class="col-form-label">deadline<span class="required">*</span></label>
                                <input type="date" class="form-control" id="task_deadline" name="task_deadline" form="task_content" required>
                            </div>
                        </div>
                    </form>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" id="create" form="task_content">Create</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="status">
                <p id="status1">To do</p>
                <p id="status2">Doing</p>
                <p id="status3">Done</p>
            </div>
            <div class="box">
                <div id="todo">
                    <div class="droppable todo" >
                        {{ range $task_data := .todo_task_list }}
                            <div class="task-todo" name="{{ index $task_data 0}}&{{ index $task_data 1}}">
                                <p>name: {{ index $task_data 0}}</p>
                                <p>description: {{ index $task_data 1}}</p>
                                <p>deadline: {{ index $task_data 2}}</p>
                            </div>
                        {{ end }}
                    </div>
                </div>
                <div id="doing">
                    <div class="droppable doing">
                        {{ range $task_data := .doing_task_list }}
                            <div class="task-doing" name="{{ index $task_data 0}}&{{ index $task_data 1}}">
                                <p>name: {{ index $task_data 0}}</p>
                                <p>description: {{ index $task_data 1}}</p>
                                <p>deadline: {{ index $task_data 2}}</p>
                            </div>
                        {{ end }}
                    </div>
                </div>
                <div id="done">
                    <div class="droppable done">
                        {{ range $task_data := .done_task_list }}
                            <div class="task-done" name="{{ index $task_data 0}}&{{ index $task_data 1}}">
                                <p>name: {{ index $task_data 0}}</p>
                                <p>description: {{ index $task_data 1}}</p>
                                <p>deadline: {{ index $task_data 2}}</p>
                            </div>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </main>
    <aside id="sidemenu">
        <ul>
            <li><div id="close-box"><button type="button" id="trigger-close"><i class="bi bi-arrow-left-circle" id="left"></i></button></div></li>
            <li><div id="side-item1">Home</div></li>
            <li><div id="side-item2">Settings</div></li>
        </ul>
    </aside>
    <footer>
        <p>Intelligent Systems Design Laboratory</p>
    </footer>
</body>
</html>