<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/node_modules/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <script src="../assets/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../assets/node_modules/vue/dist/vue.global.js"></script>
    <script src="../assets/node_modules/vuedraggable/dist/vuedraggable.umd.min.js"></script>
    <title>TaskApp</title>
</head>
<body>
    <header>
        <div id="trigger-box">
            <button type="button" id="trigger"><i class="bi bi-arrow-right-circle" id="right"></i></button>
        </div>
        <div id="user-box">
            <i class="bi bi-person-fill" id="user"></i><span>konishi kyosuke</span>
        </div>
    </header>
    <main> 
        <div id="button-box">
            <button type="button" id="new-button"><i class="bi bi-plus" id="plus"></i><span id="new">new</span></button>
        </div>
        <div class="container">
            <div class="status">
                <p class="status1">To do</p>
                <p class="status2">Doing</p>
                <p class="status3">Done</p>
            </div>
            <div id="app" class="box">
                 <div id="box1" class="tasktag">
                    <draggable tag="ul" :options="{group:'TASKS'}">
                        <li v-for="task, index in tasks1" :key="task.item">{{task.item}}</li>
                    </draggable>
                </div>
                 <div id="box2" class="tasktag">
                </div>
            </div>
        </div>
    </main>
    <aside id="sidemenu">
        <ul>
            <li><div id="close-box"><button type="button" id="trigger-close"><i class="bi bi-arrow-left-circle" id="left"></i></button></div></li>
            <li><div id="side-item1">Task List</div></li>
            <li><div id="side-item2">Settings</div></li>
            <li><div id="side-item3">Contact Us</div></li>
        </ul>
    </aside>
    <footer>
        <p>Intelligent Systems Design Laboratory</p>
    </footer>
    <script src="../assets/js/index.js"></script>
    <script src="../assets/js/draggable.js"></script>
</body>
</html>