<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../assets/icon/favicon.ico">
    <link rel="stylesheet" href="../assets/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/node_modules/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../assets/css/settings.css">
    <script src="../assets/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../assets/node_modules/jquery-ui-dist/jquery-ui.min.js"></script>
    <script src="../assets/js/settings.js"></script>
    <title>Settings</title>
</head>
<body>
    <header>
        <div id="trigger-box">
            <button type="button" id="trigger"><i class="bi bi-arrow-right-circle" id="right"></i></button>
        </div>
        <div id="user-box">
            <i class="bi bi-person-fill" id="user"></i><span>{{.user_name}}</span>
        </div>
    </header>
    <div id="settings">
        <p id="settings-name">Settings</p>
        <div class="button">
            <input type="submit" value="change password" class="btn btn-warning" id="changepass">
        </div>
    </div>
    <aside id="sidemenu">
        <ul>
            <li><div id="close-box"><button type="button" id="trigger-close"><i class="bi bi-arrow-left-circle" id="left"></i></button></div></li>
            <li><div id="side-item1">Home</div></li>
            <li><div id="side-item2">Settings</div></li>
        </ul>
    </aside>
    <footer>
        <p>Intelligent Systems Design Laboratory</p>
    </footer>
</body>
</html>