<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>TaskApp</title>
</head>
<body>
    <header>
        <p>User:Konishi Kyosuke</p>
    </header>
    <main>
        sample
    </main>
    <footer>
        <p>Intelligent Systems Design Laboratory</p>
    </footer>
</body>
</html>