<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/login.css">
    <title>Login</title>
</head>
<body>
    <header>
        <h1>TaskApp</h1>
    </header>
    <form action="/TaskApp" method="POST">
        <label class="label-name" for="name">Name</label>
        <input type="text" class="input-name" id="name" name="name">
        <label for="password" class="label-pass">Password</label>
        <input type="password" class="input-pass" id="password">
        <div style="text-align: center;">
            <button type="submit" class="btn">login</button>
        </div>
    </form>
</body>
</html>